<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<script>
    function signup() {
        let username = $('#username').val();
        let password = $('#password').val();
        let nickname = $('#nickname').val();

        if (username == '') {
            alert('ID를 비워둘 수 없습니다.')
            return;
        } else if (password == '') {
            alert('비밀번호를 비워둘 수 없습니다.')
            return;
        } else if (nickname == '') {
            alert('닉네임을 비워둘 수 없습니다.')
            return;
        }

        $.ajax({
            type:"POST",
            url:`/api/user/signup`,
            contentType:"application/json",
            data:JSON.stringify({username:username, password:password, nickname, nickname}),
            success:function (response, status,xhr) {
                if (response === 'success') {
                    let host = window.location.host;
                    let url = host + 'localhost:8080';

                    document.cookie = 'Authorization' + '=' + xhr.getResponseHeader('Authorization') + ';path=/';
                    window.location.href = 'http://' + url;
                }
            }
        })
    }
</script>
<div id="signup-form">
    <form method="POST" action="/api/user/signup">
        <div class="username">아이디</div>
        <input type="text" id="username" name="username" placeholder="아이디">

        <div class="password">비밀번호</div>
        <input type="password" id="password" name="password" placeholder="비밀번호">

        <div class="nickname">닉네임</div>
        <input type="text" id="nickname" name="nickname" placeholder="닉네임">

        <button onclick=signup()>회원가입</button>
    </form>
</div>
</body>
</html>